html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-size: 16px;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.layers {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pointer {
    pointer-events: none;
}

.layer {
    height: 50%;
    width: 50%;
    padding: 1rem;
    position: absolute;
    transition: all 0.5s ease;
    background: #272830;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.close {
    position: absolute;
    top: 0;
    right: 8px;
    color: #f5f5dd;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 3rem;
    border: 2px solid #760100;
    width: 3rem;
    margin: 1rem;
    border-radius: 70px;
    background: #000000a1;
    cursor: "pointer";
}

.backgroundLayer {
    position: absolute;
    height: 100vh;
    width: 400vw;
    animation: gradient 10s infinite;
    transition: opacity 0.5s ease;
    background: linear-gradient(90deg, rgba(119, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(119, 0, 0, 1) 100%);
}

.showBg {
    opacity: 1;
}

.hideBg {
    opacity: 0;
}

/* TOP LEFT */

.layer:nth-child(1) {
    /* animation: one 5s infinite; */
}

.showTopLeftPanel {
    transform: translate3d(0vw, 0vh, 0);
}

.hideTopLeftPanel {
    transform: translate3d(-100vw, -100vh, 0);
}

/* TOP RIGHT */

.layer:nth-child(2) {
    /* animation: two 5s infinite; */
}

.showTopRightPanel {
    transform: translate3d(50.6vw, 0vh, 0);
}

.hideTopRightPanel {
    transform: translate3d(100vw, -100vh, 0);
}

/* BOT RIGH */

.layer:nth-child(3) {
    padding: 0;
    /* animation: three 5s infinite; */
}

.showBotRightPanel {
    transform: translate3d(50.6vw, 51vh, 0);
}

.hideBotRightPanel {
    transform: translate3d(100vw, 100vh, 0);
}

/* BOT LEFT */

.layer:nth-child(4) {
    /* animation: four 5s infinite; */
    overflow: auto;
    justify-content: flex-start;
}

.showBotLeftPanel {
    transform: translate3d(0vw, 51vh, 0);
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.hideBotLeftPanel {
    transform: translate3d(-100vw, 100vh, 0);
}

.separator {
    width: 50%;
    border-bottom: 2px solid beige;
    margin: 1rem 0rem;
}

.button {
    width: 200px;
    height: 3rem;
    border: rgba(119, 0, 0, 1) double 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button a {
    color: beige;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@keyframes one {
    0% {
        transform: translate3d(-50.6vw, 51vh, 0);
    }
    50% {
        transform: translate3d(-50vw, 50vh, 0);
    }
    100% {
        transform: translate3d(-50.6vw, 51vh, 0);
    }
}

@keyframes two {
    0% {
        transform: translate3d(50.6vw, -51vh, 0);
    }
    50% {
        transform: translate3d(50vw, -50vh, 0);
    }
    100% {
        transform: translate3d(50.6vw, -51vh, 0);
    }
}

@keyframes three {
    0% {
        transform: translate3d(-50.6vw, -51vh, 0);
    }
    50% {
        transform: translate3d(-50vw, -50vh, 0);
    }
    100% {
        transform: translate3d(-50.6vw, -51vh, 0);
    }
}

@keyframes four {
    0% {
        transform: translate3d(50.6vw, 51vh, 0);
    }
    50% {
        transform: translate3d(50vw, 50vh, 0);
    }
    100% {
        transform: translate3d(50.6vw, 51vh, 0);
    }
}

@keyframes gradient {
    0% {
        transform: translateX(0vw);
    }
    50% {
        transform: translateX(-300vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

.swip {
    animation: swip 5s;
    animation-fill-mode: forwards;
}

@keyframes swip {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    50% {
        opacity: 0;
        transform: translateY(0vv);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.ok {
    position: absolute;
    z-index: 999;
}

.description {
    font-size: 1rem;
    color: beige;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
}

.title {
    font-size: 4rem;
    color: beige;
    text-align: center;
}

.lesImg {
    width: 50%;
    height: 50%;
}

.lesImg img {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}