.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-image: url("../images/backgrounds/bgHeader.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.gridContainer {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "id";
}

.gridContainer h1 {
  color: white;
  font-size: 5em;
  text-align: center;
}

.gridContainer h2 {
  color: white;
  font-size: 2em;
}

.id {
  grid-area: id;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blank {
  grid-area: blank;
  border: 2px solid pink;
}

@media (max-width: 650px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-areas: "id";
  }

  .wrapper {
    padding: 0.5em;
  }
}