.projectsContainer {
  min-height: 100vh;
  width: 100vw;
  background: #26272F;
  border-top: 7px double #770000;
  border-bottom: 7px double #770000;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 5em;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-items: center;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
}

.contcont {
  height: 300px;
  width: 300px;
}

.projectCardContainer {
  height: 100%;
  width: 100%;
  border: 5px solid #770000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.projectCardWrapper {
  height: 100%;
  width: 100%;
  border: 2px solid green;
}

.projectCardTitle h2 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
} 

.projectCardTitle h3 {
  color: white;
  font-size: 1em;
  text-align: center;
  border-top: 2px solid grey;
  padding-top: 5px;
} 

.projectCardTitle a {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 0.8em;
}

.state {
  position: absolute;
  font-size: 0.8em;
  bottom: 1em;
  left: 1em;
  color: white;
}