section#projets {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 1rem;
    background-image: url('../images/backgrounds/textures/straws.png'), linear-gradient(#ffffff, #d1d1d1);
}

section#projets .projectsWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    padding: 1rem;
    border: 10px #770000 double;
    border-radius: 10px;
    background-color: #272830;
}

.closeScreen {
    height: 100%;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.hide {
    display: none;
}

.projectNav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projectNav ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.projectNav ul li {
    height: 100px;
    width: 45%;
    margin: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px #00000094;
    transition: all 0.2s ease-in;
}

.projectNav ul li:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.projectNav ul li img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    object-fit: cover;
    object-position: center;
}

.projectNav ul li h2 {
    position: absolute;
    color: white;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
}

.hide {
    display: none;
}

.closeProjectButton {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    cursor: pointer;
}